@model EmployeeViewModel

@{
    ViewData["Title"] = "Удаление сотрудника";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr />
    <h3>Вы уверены что хотите удалить сотрудника?</h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Patronymic)</dt>
        <dd>@Html.DisplayFor(model => model.Patronymic)</dd>

        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>

        <dt>@Html.DisplayNameFor(model => model.Position)</dt>
        <dd>@Html.DisplayFor(model => model.Position)</dd>

    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-default" /> | 
        <a asp-action="Index" class="btn btn-success"><< Назад к списку</a>
    </form> 
</div>