@model EmployeeViewModel

@{
    ViewData["Title"] = "Карточка сотрудника";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr />

    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Должность</td>
            <td>@Model.Position</td>
        </tr>
    </table>
    <div>
        <a asp-action="Index" class="btn btn-success"><< Назад к списку</a>
    </div>
</div>

@*@Html.DisplayForModel()
    @Html.EditorForModel()*@